
.in{
    width: 600px;
    height: 400px;
    margin: auto;
    padding-top: 100px;
    
    
    }
   
    
    
    .ant-input-group > .ant-input:first-child, .ant-input-group-addon:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        
    }
    
    .ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button {
    
        border-radius: 0 20px 20px 0;
    }
    
    .ant-input-group-addon {
        border-radius: 20px;  
    }
    
    .layout-section{
        background-color: rgba(99, 43, 43, 0);
    }
    
    .hpimg{
        /* background-color: rgb(1, 0, 0); */
        background-image: url('../images/abab.png');
        background-position: center;
        background-size: 100pc;
        background-repeat: no-repeat;
        border-bottom-style:groove;
        
        
        }
    /* .search{
       box-shadow: inset; 
    } */
    .dishes{
        display: inline-table;
        border-radius: 20px;
        border-style:inset;
        margin: 30px;
        
    }
    
    .r{
        margin-left: 30px;
        margin-top: 10px;
        color: rgb(0, 0, 0);
        font-style: oblique;
    }
    .ant-layout-header {
        
        padding: 10px 15px;
        
    }
a img
{
  width:260px;
  height: 325px;
}
.ant-card-meta-title {
    overflow: hidden;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 18px;
    text-overflow: ellipsis;
}